<!-- Footer
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">Política de privacidad</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Política de cookies</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Términos y condiciones de uso</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Quiénes somos</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Mejor Con Salud 2021. Reservados Todos Los Derechos.</p>
                <p class="text-muted small mb-4 mb-lg-0">Los contenidos de esta publicación se redactan solo con fines informativos. En ningún momento pueden servir para facilitar diagnósticos o sustituir la labor de un profesional. Le recomendamos que contacte con su especialista de confianza.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer-59391">
      
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-4">
          <div class="site-logo">
            <a class="navbar-brand" href="#">
              <img src="./assets/img/logo.svg" class="img-logo"/>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <ul class="list-unstyled social-icons position-style">
            <li><a href="#" class="fb"></a></li>
            <li><a href="#" class="tw"></a></li>
            <li><a href="#" class="in"></a></li>
            <li><a href="#" class="be"></a></li>
            <li><a href="#" class="dr"></a></li>
            <li><a href="#" class="yt"></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col ">
          <div class="copyright">
            <ul class="nav-links list-unstyled">
                <li><p><a href="#">Política de privacidad</a></p></li>
                <li><p><a href="#">Política de cookies</a></p></li>
                <li><p><a href="#">Términos y condiciones de uso</a></p></li>
                <li><p><a href="#">Quiénes somos</a></p></li>
            </ul>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col ">
          <div class="copyright">
            <p><small>Copyright Mejor Con Salud 2021. Reservados Todos Los Derechos.</small></p>
            <p><small>Los contenidos de esta publicación se redactan solo con fines informativos. En ningún momento pueden servir para facilitar diagnósticos o sustituir la labor de un profesional. Le recomendamos que contacte con su especialista de confianza.</small></p>
          </div>
        </div>
      </div>
    
  </div>
</footer>