<div class="container">
    <div class="position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6 mt-4">
                <app-input></app-input>

                <div class="content-main text-center mt-3">
                    <h1 [(ngModel)]="filter" class="text-center">Resultado de búsqueda para {{ filter }}</h1>
                    <div [(ngModel)]="articlesSearched">
                        <h6>Número de Páginas: {{ articlesSearched.pages }} | Número de Respuestas: {{ articlesSearched.size }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <!-- Main Content-->
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 justify-content-center" *ngFor="let article of articlesSearched.data">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a [routerLink]="['..', 'article', article.id]">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="post-title">{{ article.title }}</h2>
                                <h5 class="post-subtitle">{{ article.headline }}</h5>
                            </div>
                        </div>
                    </a>
                    <p class="post-meta mt-2">
                        Publicado en: {{ article.published | date: 'dd/MM/yyyy' }} | Modificado en: {{ article.modified | date: 'dd/MM/yyyy'}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
        </div>

    </div>

    <div class="text-center mt-3" *ngIf="articlesSearched.size === 0">
        <h2>¡No hay artículos relacionados con el término {{ filter }}!</h2>
    </div>
</div>